<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>EHR Adoption</title>
</head>

<body>
    <form action="/ehr_adoption" method="post">
        <h1>What state do you want to check for its EHR adoption rate throughout the years?</h1>
        <p>
            Please enter a state name (e.g., Michigan or MI): <input name="state" type="text"/><br/><br/><br/>
        </p>

        <input type="submit" value="Submit">

        <!-- <h1>What date of the rank you want to check?</h1>
        <p>
            Please enter a date between 2020-03-20 and 2023-03-20: <input name="date" type="text"/><br/><br/><br/>
        </p> -->
        <!-- <input type="submit" value="Submit"> -->
    </form>

</body>

</html>