<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
    <form action="/index" method="post">
        <h1>What form of data do you want to check?</h1>
        <input type="radio" id="map" name="data_form" value="map">
        <label for="map">Map</label><br>
        <input type="radio" id="rank" name="data_form" value="rank">
        <label for="rank">Rank</label><br>
        <input type="radio" id="ehr" name="data_form" value="ehr">
        <label for="percent">Physician's Electronic Health Record (EHR) Adoption</label><br>
        <!-- <input type="radio" id="comparison" name="data_form" value="comparison">
        <label for="comparison">Comparison</label><br> -->
        <p>
            <br/>
        </p>
        <input type="submit" value="Submit Form">
    </form>

</body>

</html>