<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rank Date State</title>
</head>

<body>
    <form action="/rank_date_state" method="post">
        <h1>What state do you want to check for its rank for COVID case, death, and fully vaccination rates?</h1>
        <p>
            Please enter a state (e.g., Michigan or MI): <input name="state" type="text"/><br/><br/><br/>
        </p>
        <!-- <h1>What date of the data do you want to check?</h1>
        <h1>(Please enter a date between 2020-03-20 and 2022-03-20)</h1>
        <label for="input_text">Date (yyyy-mm-dd):</label><br>
        <input type="text" id="input_text" name="input_text"><br> -->
        <!-- <input type="submit" value="Submit"> -->

        <h1>What date of the rank you want to check?</h1>
        <p>
            Please enter a date between 2020-03-20 and 2023-03-20: <input name="date" type="text"/><br/><br/><br/>
        </p>
        <input type="submit" value="Submit">
    </form>

</body>

</html>